
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read/write access to bookings for the app to function
    match /bookings/{document=**} {
      allow read, write: if true;
    }

    // Allow public read/write to the new availability collection
    match /availability/{document=**} {
      allow read, write: if true;
    }

    // --- RULES FOR GALLERY ---
    // Allow public read access for viewing tour galleries
    // Allow public write access for adding/deleting images until auth is added
    match /gallery/{image} {
      allow read, write: if true;
    }
  }
}
