rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /bookings/{bookingId} {
      allow read, write: if true;
    }

    match /gallery/{imageId} {
      allow read, write: if true;
    }

    match /availability/{availabilityId} {
      allow read, write: if true;
    }
    
  }
}